<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.composedemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeDemo">
        <activity
            android:name=".ExampleActivity"
            android:label="@string/title_activity_example"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="activity_example"
                    android:scheme="demo" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ComposeAndroidViewActivity"
            android:label="@string/title_activity_compose_android_view"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="activity_compose_android_view"
                    android:scheme="demo" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidViewComposeActivity"
            android:label="@string/title_activity_android_view_compose"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="activity_android_view_compose"
                    android:scheme="demo" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelloActivity"
            android:label="@string/title_activity_hello"
            android:theme="@style/Theme.ComposeDemo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="activity_hello"
                    android:scheme="demo" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CountActivity"
            android:label="@string/title_activity_count"
            android:theme="@style/Theme.ComposeDemo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="activity_count"
                    android:scheme="demo" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>